body {
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  width: 780px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  tab-size: 4px;
  line-height: 24px;
}
h1 {
  color: black;
  font-weight: bold;
  padding: 5px 10px;
}
h3 {
  margin: 5px;
}
.searchSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 44px 0px 0px;
  padding: 0px 10px;
}
.search {
  display: flex;
  align-items: center;
  width: 70%;

  padding: 15px 20px;
}
.input {
  width: 100%;
  border: none;
}
.input:focus {
  outline: none;
}
::placeholder {
  font-size: 16px;
}

.selectBtn {
  display: flex;
  align-items: center;

  padding: 15px 20px;
}
.selectBtn span {
  color: rgb(122, 118, 118);
  font-size: 16px;
}

.grey {
  background-color: #e2e8f0;
}
.borderNone {
  border: none;
  border-radius: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  margin-top: 40px;
  padding: 5px 10px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
.avatar {
  display: flex;
  justify-content: flex-start !important;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 200px;
  width: 180px;
  padding: 24px 32px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(229, 231, 235);
  transition: box-shadow 0.3s ease;
}
.avatar:hover {
  box-shadow: 0 0 10px rgba(212, 209, 209, 0.5);
}
.start a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.start {
  display: flex;
  justify-content: center;

  flex-direction: column;
  position: relative;
  left: -40px;
}
.dark {
  display: inline-block;
  background-color: #e2e8f0;
  color: black;
  font-weight: 600;
  padding: 6px 15px;
  width: 60%;
  transition: all 0.3s ease;
}
.dark:hover {
  background-color: #64748b;
  color: white;
}
.top {
  color: black;
}
.top span {
  color: #ef4444;
}
.top,
.top span {
  margin-top: 14px;
}
.start button {
  background-color: #2563eb;
  color: white;
  margin-top: 20px;
  padding: 8px 30px;
}
